<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 MOVIE REVIEW
        <br>Design by
        <a href="http://courses.growthschool.com/courses/rails-101/" target=_new>kuangkuang</a>
    </p>
</footer>
